@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.navigation {
    background-color: rgb(129 37 55);
    color: white;
    padding: 12px;
}

.backgroundImage {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.backgroundImage img {
    width: 100vw;
    height: 100vh;
}

.container {
    padding: 23px 0px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.names {
    display: flex;
    margin: auto;
    width: 840px;
}

.person {
    margin: 12px;
}

.person1,
.person2 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    width: 345px;
}

.loves {
    margin: 18px 12px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn :hover {
    background-color: rgb(129 37 55);
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 23px;
    background-color: rgb(240, 84, 84);
    color: white;
}

.outputContainer {
    width: 100vw;
    height: calc(100vh - 258px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.loadingGif {
    width: 45px;
    height: 45px;
}

.loveText {
    margin: 12px 0px;
    font-size: 67px;
    font-weight: bold;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: percentageAnimation 1s ease-in-out infinite;
    transition: all ease-in-out;
    /* box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3); */
    color: red;
}

@keyframes percentageAnimation {
    0% {
        font-size: 56px;
    }

    50% {
        font-size: 78px;
    }

    100% {
        font-size: 56px;
    }
}

.footer {
    background-color: rgb(129 37 55);
    color: white;
    padding: 12px;
    text-align: center;
}

